.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.2rem solid rgba(120, 120, 120, 0.5);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(10, 145, 127, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-letter {
    padding: 1.5rem 2.5rem;
    background-color: lightblue;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: rgb(64, 158, 64);
}

.incorrect {
    background-color: rgb(255, 113, 113);
}

/* HUD Display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-text {
    text-align: center;
}